<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300" rel="stylesheet">
<div class="content">
<div class="opacity"></div>
<div class="txtImg"></div>
</div>

<section class="one section">
  <div class="wrapper">
    <img class="boat" src="../../assets/boat.png">
    <div class="water"></div>
    <h1 class="title">Starboard</h1>
    <img class="arrow vert-move" src="../../assets/arrow.png">
  </div>
</section>
<section class="two section">
  <div class="wrapper">
    <div class="blur center"></div>
    <div class="text center">
    <h1 class="secondTitle"> Welcome Fellows </h1>
    <h1 class="description"> This summer you will be coaching young men of color from
        South Central Los Angeles high schools. Your role will be to lead and 
        encourage them to create the best product they possibly can and pitch it in 
        front of investors. Below are all the resources provided 
        by TXT in order to best prepare you.</h1>
    <img class="arrow vert-move" src="../../assets/arrow.png">
   </div>
  </div>
</section>
<section class="three category">

    <section class="prodDev ">
    <button class="btn">Learn More</button>
    </section>
    <section class="techCurr ">
    <button class="btn">Learn More</button>
    </section>
    <section class="youthDev ">
    <button class="btn">Learn More</button>
    </section>

</section>
<!-- test code -->

